.footer {
  background: $c-black;
  height: 25rem;
  color: $c-white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;


  &__logo {
    font-weight: lighter;
  }
}
