.container {
  max-width: 60rem;
  margin: 0 auto;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

&--centered {
  justify-content: space-around;
}

&__item {
  // flex-grow: 1;
  margin: 2rem 1rem;

&-pages {
  text-align: center;
  background: #FF6B57;
  color: $c-white;
  padding: 1rem 3rem;
  border-radius: .4rem;
  box-shadow: $box-shadow;
}

&-home {
  text-align: center;
  background: #9B59B6;
  color: $c-white;
  padding: 1rem 3rem;
  border-radius: .4rem;
  box-shadow: $box-shadow;
}

&-blog {
  text-align: center;
  background: #41C3AC;
  color: $c-white;
  padding: 1rem 3rem;
  border-radius: .4rem;
  box-shadow: $box-shadow;
}

&-portfolio {
  text-align: center;
  background: #3498DB;
  color: $c-white;
  padding: 1rem 3rem;
  border-radius: .4rem;
  box-shadow: $box-shadow;
}
}
}

.card {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  box-shadow: 0.2rem 0.2rem 0.4rem rgba(#000, 0.4);

&__title {
  width: 100%;
  font-size: 1.5rem;
  padding: 0.5rem;
}
}
