<div class="hero">

  <div class="container">
    <div class="hero__content">
      <h1> MINIMAX MINIMAL PORTFOLIO TEMPLATE</h1>
      <h5>ONE PAGE & MULTIPAGE + COLOR VARIATION + WIDE BOX LAYOUT + RTL VERSION</h5>
      <div class="hero__content-demo">DEMO</div>
    </div>
  </div>
</div>

<div class="pricing">
  <div class="container">
    <div class="grid grid--centered">

      <div class="grid__item-pages">
        <h1>60+</h1>
        <h3>TOTAL PAGES</h3>
      </div>

      <div class="grid__item-home">
        <h1>8+</h1>
        <h3>HOME STYLE</h3>
      </div>

      <div class="grid__item-blog">
        <h1>6+</h1>
        <h3>BLOG STYLE</h3>
      </div>

      <div class="grid__item-portfolio">
        <h1>45+</h1>
        <h3>PORTFOLIO STYLE</h3>
      </div>

    </div>
  </div>
</div>

<div class="demo">
  <div class="demo__headline">
    <h1>CHOOSE YOUR DEMO</h1>
  </div>
  <div class="container">
    <div class="button__flex">
      <div class="button">Home</div>
      <div class="button">Portfolio</div>
      <div class="button">Blog</div>
      <div class="button">Others</div>
    </div>
  </div>
  <div class="grid">

    <div class="grid__item">
      <img src="https://devitems.com/html/minimax-preview/img/home/home-1.jpg" class="portfolio__img" alt="">
      <h3 class="portfolio-img-text">Hello world!</h3>
    </div>

    <div class="grid__item">
      <img src="https://devitems.com/html/minimax-preview/img/home/home-2.jpg" class="portfolio__img" alt="">
      <h3 class="portfolio-img-text">Hello world!</h3>
    </div>

    <div class="grid__item">
      <img src="https://devitems.com/html/minimax-preview/img/home/home-3.jpg" class="portfolio__img" alt="">
      <h3 class="portfolio-img-text">Hello world!</h3>
    </div>

    <div class="grid__item">
      <img src="https://devitems.com/html/minimax-preview/img/home/home-4.jpg" class="portfolio__img" alt="">
      <h3 class="portfolio-img-text">Hello world!</h3>
    </div>


    <div class="grid__item">
      <img src="https://devitems.com/html/minimax-preview/img/home/home-5.jpg" class="portfolio__img" alt="">
      <h3 class="portfolio-img-text">Hello world!</h3>
    </div>

    <div class="grid__item">
      <img src="https://devitems.com/html/minimax-preview/img/home/home-6.jpg" class="portfolio__img" alt="">
      <h3 class="portfolio-img-text">Hello world!</h3>
    </div>

    <div class="grid__item">
      <img src="https://devitems.com/html/minimax-preview/img/home/home-7.jpg" class="portfolio__img" alt="">
      <h3 class="portfolio-img-text">Hello world!</h3>
    </div>

    <div class="grid__item">
      <img src="https://devitems.com/html/minimax-preview/img/home/home-8.jpg" class="portfolio__img" alt="">
      <h3 class="portfolio-img-text">Hello world!</h3>
    </div>

  </div>
</div>
