<div class="app">
  <div class="app__top">
    <nav class="top-nav">
      <div class="top-nav__group-left">
        <div class="top-nav__item">
          <a href="#">MINIMAX</a>
        </div>
          </div>

        <div class="top-nav__group-right">

          <a class="top-nav__item" href="#">HOME <i class="fa fa-caret-down" aria-hidden="true"></i></a>
          <a class="top-nav__item" href="#">ABOUT US</a>
          <a class="top-nav__item" href="#">PORTFOLIO <i class="fa fa-caret-down" aria-hidden="true"></i></a>
          <a class="top-nav__item" href="#">BLOG <i class="fa fa-caret-down" aria-hidden="true"></i></a>
          <a class="top-nav__item" href="#">PRICING</a>
          <a class="top-nav__item" href="#">SERVICES</a>
          <a class="top-nav__item" href="#">CONTACT</a>

        </div>


    </nav>
  </div>

  {{outlet}}
</div>
